body {
  font-family: monospace;
  text-align: center;
  color: gray;
  background-color: #e6ffff;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  color: #336699;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
}
a h1 {
  color: gray;
}
